:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}

.container {display: inline-block; }

.hello {
  font-size: 50px;
  letter-spacing: 10px;
  font-family: Tektur;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation:
    typing 2s steps(12),
    cursor .4s step-end infinite alternate;
  align-items: center;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 50px;
  font-family: Tektur;
  width: 100%;
  margin-bottom: 20%;
  margin-top:12%;
}

.pic {
  width: 400px;
  clip-path: circle();
}

.projectgif {
  width: 400px;
  margin:20px;
}

.column {
  float: left;
  width: 33.33%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@keyframes cursor {
  50% {border-color: transparent}
}

@keyframes typing {
  from {width: 0}
}

.catgif {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(50px) translateY(-30px);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "Tektur";
  font-size: 50px;
  position: static;
  bottom: -400px;
}
#text{
  padding-right: 150px;
}

h2 {
  font-family: "Tektur";
  font-size: 50px;
  letter-spacing: 10px;
}

p {
  font-family: 'Tektur';
  font-size: 20px;  
  text-align: left;
}

.button {
  font-family: "Tektur";
  font-size: 20px;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  color: #000;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button-container {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.button:hover {
  box-shadow: -5px 10px 0px rgba(158, 5, 122, 0.8);
}

@font-face {
  font-family: Tektur;
  src: url(assets/Tektur-VariableFont_wdth,wght.ttf);
}